Ejercicio 1: Transformar cadenas

In [74]:
print ("""Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.""")

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

In [75]:
texto= """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

texto_dividido = texto.split('. ')

texto_dividido

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [76]:

#definiendo palabras clave

palabras_clave = ["average", "temperature", "distance"]

In [77]:
#Creando bucle ciclo for

for sentence in texto_dividido:
    for key_word in palabras_clave:
        if key_word in sentence:
            print (sentence)

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [78]:
for sentence in texto_dividido:
    for key_word in palabras_clave:
        if key_word in sentence:
            print (sentence.replace ('C','Celsius'))

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2: Formateando Cadenas

In [79]:
#Datos

name= "Moon"
gravity= 0.00162 #in kms
planet= "Earth"

In [80]:
#Crear título

Título= "The gravity of the Moon"
f'{Título.title()}'

'The Gravity Of The Moon'

In [81]:
gravity_mts= gravity*1000
gravity_mts

1.6199999999999999

In [82]:
fact = f"""
Name of planet: {planet} 
Gravity on the {name}: {gravity * 1000} m/s2 
"""
fact

'\nName of planet: Earth \nGravity on the Moon: 1.6199999999999999 m/s2 \n'

Datos de otra luna

In [83]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [92]:
fact2 = f"""
Name of planet: {planeta} 
Gravity of {nombre}: {gravedad * 1000} m/s2 
Name of another Moon: {nombre}
"""
fact2

'\nName of planet: Marte  \nGravity of Ganímedes: 1.4300000000000002 m/s2 \nName of another Moon: Ganímedes\n'

In [94]:
plantilla2 = f"""{Título.title()} 
{fact2} 
""" 
print(fact2)

Name of planet: Marte
Gravity of Ganímedes: 1.4300000000000002 m/s2
Name of another Moon: Ganímedes

In [95]:
print(plantilla2.format(name=nombre, planet=planeta, gravity=gravedad*1000))

The Gravity Of The Moon

Name of planet: Marte
Gravity of Ganímedes: 1.4300000000000002 m/s2
Name of another Moon: Ganímedes